# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env

# Logs
*.log
*.out

# Cache
*.cache
*.pytest_cache/
.cache/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Editor/IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
